<script setup>
import { ref } from 'vue'

defineProps({
  msg: {
    type: String,
    default: "Hello World!"
  }
})

const count = ref(0)
</script>

<template>
  <h1>{{ msg }}</h1>
  <p class="read-the-docs">Click on the Vite and Vue logos to learn more</p>
  <div class="card">
    <button type="button" @click="count++">count is {{ count }}</button>
    <p>
      Edit
      <code>src/components/HelloWorld.vue</code> to test <b>H</b>ot <b>M</b>odule <b>R</b>eplacement
    </p>
  </div>

  <p>
    This template app is hosted
    <a href="https://gitlab.com/hsn10/template-vite-vue" target="_blank"
      >at Gitlab</a>.
  </p>
  <p class="my-4">
    Install
    <a href="https://github.com/johnsoncodehk/volar" target="_blank">Volar</a>
    in your IDE for a better DX
  </p>
</template>

<style scoped>
.read-the-docs {
  color: #888888;
  font-size: smaller;
  margin: 0;
}
</style>
